@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

header, main, footer {
  flex-shrink: 0;
}

header {
  height: 300px;
}

main {
  min-height: 100%;
}

.eas-container {
  height: 100%;
  width: 1080px;
  
  margin: auto;
}

.eas-grid {
  border: 1px solid black;
  margin: auto;
  /* width: 512px;
  height: 5126px; */
  display: grid;
}

.cells {
  border: 1px solid black;

}